{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block head %}
    <meta charset="UTF-8">
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='wccgo.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='wccgo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Wccgo</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                </ul>
                <ul class="nav navbar-nav ">
                    {% if current_user.can(Permission.WRITE_POSTS) %}
                        <li>
                            <a href="{{ url_for('main.new_post') }}">
                                写博客
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav ">
                    <li><a href="{{ url_for('main.short_post_index') }}">短博客</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <!--flask-login的版本问题,旧版本是current_user.is_authenticated()-->
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('main.user', username=current_user.username) }}">
                                个人信息
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content%}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div style="padding-bottom: 200px">
            {% block page_content %}{% endblock %}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <footer class="blog-footer">
            <div class="row">
                <div class="col-xs-10 col-md-7" style="text-align:left">
                    <p style="text-indent: 12em"> 使用 <a href="http://flask.pocoo.org/">Flask</a>框架 前端参考<a href="http://getbootstrap.com/">Bootstrap</a>
                    <p style="text-indent: 12em"> 部署在 <a href="https://www.heroku.com/">Heroku</a> 数据库使用<a href="https://www.postgresql.org/">Postgresql</a></p>
                    <p style="text-indent: 12em"> 头像来自 <a href="http://glyphicons.com/">Glyphicons</a> 编辑器采用<a href="http://ckeditor.com/">Ckeditor</a></p>
                </div>
                <div class="col-xs-8 col-md-5" style="text-align:left">
                    <p>github <a herf="https://github.com/wcc0305">https://github.com/wcc0305</a></p>
                    <p>邮箱 220150824@seu.edu.cn</p>
                    <p>新浪微博 <a href="http://weibo.com/u/2309788177/">实干家王开心</a></p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}