{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-xs-13 col-md-9">
            <h1>Hello,
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% else %}
                    Stranger
                {% endif %}!</h1>
            {% include '_posts_outline.html' %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        </div>
        <div class="col-xs-5 col-md-3">
            <div class="treeview list-unstyled">
                <h3 class="sidebar">文章标签</h3>
                <ul class="treeview-menu list-unstyled">
                    {% for tag in tags %}
                        {% if tag.posts.count()>0 %}
                        <li><a href="{{ url_for('main.tag', id=tag.id) }}">{{ tag.name }}<span class="badge">{{ tag.posts.count() }}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}